#a{
    background-image: url(wallpaperflare.com_wallpaper.jpg);
}
#b{
color: azure;
margin-top: -10px;
}
#l{
    padding-left: 10px;
    color: blue;
     font-family: fantasy;
     font-size: 50px;
}
.shekhar{
    height: 50;
    width: 100%;
}